<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config/>
<!-- FlipKart Bean -->
<bean id="fp" class="org.jsp.autowiringApp.FlipkartController"></bean>

<!-- Dependency Beans -->
<bean id="ec1" class="org.jsp.autowiringApp.Electronic"></bean>
<bean id="ec2" class="org.jsp.autowiringApp.Electronic"></bean>
<bean id="fr1" class="org.jsp.autowiringApp.Furniture"></bean>
<bean id="cs1" class="org.jsp.autowiringApp.Cosmetics"></bean>
</beans>

